.admin-presi {
  max-width: 900px;
  margin: 120px auto 50px auto; /* top margin + centered container */
  padding: 30px;
}

.admin-title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
}

.card {
  border-radius: 15px;
  padding: 20px;
}

.card h4 {
  font-weight: 600;
}

.preview-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
  border: 4px solid #ddd;
}

.btn-save {
  font-size: 18px;
  padding: 12px;
}
