.heart{
    padding-top: 300px;
}

.heart-description {
  max-width: 250px;      
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.4;
}

.heart-card {
  min-height: 420px;     
  padding: 15px;
  border-radius: 10px;
}
