@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lavishly+Yours&family=Monsieur+La+Doulaise&family=Noto+Sans+Tamil:wght@100..900&family=Quintessential&display=swap');
.background-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 1s ease-out, transform 10s ease-out;
}

.bg-image.active {
  opacity: 1;
  transform: scale(1.25);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.proverb {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(25px);
  width: 90%;
  max-width: 900px;
  margin-top: 10%;
}

.proverb.show {
  opacity: 1;
  transform: translateY(0);
}
html[lang="ta"] .proverb p,
html[lang="ta"] .verse-text,
html[lang="ta"] .quote-mark {
  font-size: 1.4rem;
  font-family:"Noto Sans Tamil", sans-serif;
  font-weight: 700;
}
.proverb p {
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-size: clamp(22px, 5vw, 58px);
  line-height: 1.3;
  color: white;
  margin: auto;
  padding: 0 10px;
}

.verse-text {
 font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 32px);
  color: white;
  margin-top: 2px;
}

.quote-mark {
  font-size: clamp(26px, 5vw, 60px);
  opacity: 0.4;
  color: white;
}

.left { margin-right: 10px; }
.right { margin-left: 10px; }

/* Arrow Buttons */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: clamp(16px, 2vw, 26px);
  color: white;
  transition: 0.3s;
  z-index: 3;
}

.arrow:hover {
  background: rgba(255,255,255,0.7);
  color: black;
  transform: translateY(-50%) scale(1.1);
}

.left-arrow { left: 20px; }
.right-arrow { right: 20px; }

/* Responsive Tweaks */
@media (max-width: 768px) {
  .proverb { margin-top: 35%; }
}

@media (max-width: 480px) {
  .background-slider { height: 100vh; }

  .proverb {
    margin-top: 40%;
    width: 95%;
  }

  .arrow {
    padding: 8px;
  }

  .left-arrow { left: 10px; }
  .right-arrow { right: 10px; }
}

@media (max-width: 360px) {
  .proverb { margin-top: 42%; }
}
