.video-sections h2 {
  letter-spacing: 1px;
}

/* Card Style */
.video-cards {
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.video-cards:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 25px rgba(0,0,0,0.15);
}

/* Video Container */
.video-wrappers {
  height: 230px;
  overflow: hidden;
  background: #000;
  border-radius: 10px 10px 0 0;
}

.video-wrappers video {
  height: 230px;
  object-fit: cover;
}

.videoss{
  padding-top: 150px;
}